
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <%= render :partial => 'partials/periodic_table', locals: { periodic_table: @periodic_table } %>
        </div>
    </div>
</div>
