
<div class="container-fluid">
    <div class="row my-5">
        <div class="col-12 col-md-4 col-lg-3">
            <%= render :partial => 'partials/periodic_table_element' %>
        </div>
        <div class="col-12 col-md-8 col-lg-9">
            <%= render :partial => 'partials/periodic_table_element_details' %>
        </div>
    </div>
</div>
