@import "~bootstrap";

body {
  background: #1F2937;
  color: whitesmoke;
}

.periodic_table {
  border-collapse: collapse;
  color: #18181B;
  background: transparent;

  a {
    color: #18181B;
  }

  .index_label {
    font-size: 20px; 
    font-weight: bold; 
    text-align: center;
    color: #cccccc;
    vertical-align: middle;
  }

  .cell {
    width: 77px; 
    height: 70px; 
    padding: 2px; 
    vertical-align: middle;
    line-height: 1.1;
  }

  .cell_borderless {
    border: none;
  }

  .cell_bordered {
    border: 1px solid #18181B;
  }

  .cell_text_xs {
    font-size: 11px;
  }

  .cell_text_sm {
    font-size: 13px;
  }

  .cell_text_md {
    font-size: 14px;
  }

  .cell_text_lg {
    font-size: 22px;
  }

  .cell_text_bold {
    font-weight: bold;
  }

  .is_expanded {
    color: #4F46E5;
    background-color: white;
    border: 1px solid #4F46E5;
  }
}

.periodic_table_element {
  position: relative;
  background: whitesmoke;
  color: #18181B;
  border: 5px solid #18181B;
  padding: 20px;

  .element_text_sm {
    font-size: 18px;
  }

  .element_text_md {
    font-size: 22px;
  }

  .element_text_lg {
    font-size: 50px;
  }

  .element_text_bold {
    font-weight: bold;
  }

  .element_shell {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px;
    line-height: 1.2;
    text-align: right;
  }
}